*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(/image/gold.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.intro_logo{
    height: 3rem;
    padding-top: 0.4rem;
    background-color:rgba(248, 75, 12, 0.856);
   
}
.details{
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-left: 6rem;
    
    
}
.fisrt_details{
    display: flex; 
    gap:2rem;
    margin-right: 5rem;
   
}
.fisrt_details i{
    margin-top: 0.4rem;
} 
.address{
    display: flex;
    gap:0.5rem
}
.second_details{
    margin-left: 5rem;
     
} 
.second_details a{
    display: inline-block;
    margin-right: 2rem;
    color: white;
    margin-top: 0.2rem;
   
}
.third_details{
    display: flex;
    justify-content: space-around;
    height: 3rem;
    background-color: white;
}
.third_details li  {
    padding-top: 0.5rem;
    list-style: none;  
  
   
}
.third_details a{
    text-decoration: none;   
}



