*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
/* body{
    background-image: url(/image/gold.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
} */
/* header{
    border: 3px solid black;
    background-color: blue;

    
}
section{
    border: 3px solid black;
    background-color: blue;


} */
.intro_logo{
    height: 3rem;
    padding-top: 0.4rem;
    background-color:rgba(248, 75, 12, 0.856);
   
}
.details{
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-left: 6rem;
    
    
}
.fisrt_details{
    display: flex; 
    gap:2rem;
    margin-right: 5rem;
   
}
.fisrt_details i{
    margin-top: 0.4rem;
} 
.address{
    display: flex;
    gap:0.5rem
}
.second_details{
    margin-left: 5rem;
     
} 
.second_details a{
    display: inline-block;
    margin-right: 2rem;
    color: white;
    margin-top: 0.2rem;
   
}
.third_details{
    display: flex;
    justify-content: space-around;
    height: 10vh;
    background-color: orange;
    /* border: 2px solid violet; */
}
.third_details li  {
    padding-top: 1.2rem;
    list-style: none;  
 
}
.third_details a{
    text-decoration: none;   
    color: black;
}

/********************************************* MAIN STYLE *******************************************************************/
main{
    margin-top:4.5%;
}
.main_image{
    width: 100%;
    height: 90vh;

}
.first_img{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

}
.first_img img{
    width: 50%;

}
.par{
    position: relative;
    width: 50%;
    height: 50vh;
    background-color: red;
    
}
.par .sec {
    position: absolute;
    top: 0px;
    background-color: blue;
    
} 
.cont{
    position: relative;
    width: 100%;
    /* border: 2px solid black; */
}
.item{

}
 .rb{
    width:100%;
    height: 85vh;
    display: flex;

}
.rb img{
    width: 50%;
}
.content{
    position: absolute;
    top:40%;
    left:5%;
}
.content .name{
    font-size: larger;
    text-transform: uppercase;
    color: white;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}
.content .des{
    width: 40%;
    color: white;
    text-align: justify;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}
.content button{
    width: 10%;
    padding:1rem;
    border-radius: 2rem;
    background-color:transparent;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
    /* transition: all linear ; */
}
.content button:hover{
    background-color:orange; 
    box-shadow: 5px 5px black;
    /* background-color:linear-gradient(to left, #ff0000   #ff0000 0 50%, #ff0000 50%, #ff0000); */
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
    25%{
        opacity: 0.25;
        transform: translate(0, 75px);
        filter: blur(25px);

    }
    50%{
        opacity: 0.5;
        transform: translate(0px, 50px);
        filter: blur(18px);

    }
    75%{
        opacity: 0.75;
        transform: translate(0px, 25px);
        filter: blur(10px);

    }

    100%{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



/*******************************************Shape Divider*************************************/
/* .custom-shape-divider-top-1710660925 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1710660925 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 500px;
}

.custom-shape-divider-top-1710660925 .shape-fill {
    fill: #FFFFFF;
} */

/*******************************************About us*************************************/
.about{
    position: relative;
    width: 100%;
    height: 140vh;
    background-color: gainsboro;  
}
.about_head{
    padding-top: 3rem;
    text-align: center;
}
.san{
   padding: 0.5rem;
   border-radius: 50%;
   background-color: orange;
   color: white;
}
.about_one{
  width: 80em;
  
  /* background-color: teal; */
  background-color: white;
  display: flex;
 justify-content: center;
 gap: 5rem;
 padding: 4rem; 
 margin-left: 7%;
 margin-top: 2%;
}
.about_des{
  
    /* background-color: teal; */
    /* background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 4rem; 
    margin-left: 7%; */
    width: 80em;
    height: 40vh;
    background-color: white;
   display: flex;
   justify-content: space-around;
    margin-left: 7%;
    padding-top: 2rem;

}
.high_tech{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    gap:1.5rem;
}
.high_tech p{
    font-size:medium;
    text-align: justify;
}
.high_tech i{
    display:inline;
    border: 2px dotted orange;
    border-radius: 50%;
} 
.high_tech i:hover{
    background-color: orange;
    color: white;
    border: 2px solid black;
    border-radius:50%;
}
/*******************************************Service Style*************************************/
.service{
    background-color: teal;
}
.service_head{
    text-align: center;
    padding-top: 3rem;
}
.var{
    font-weight: 900;
 color: orange;
}
.service_list{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 10%;
   
}
.service_one{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.service_one img{
    border-radius: 30% 0 30% 0;
    transition: all 0.5s linear;
}
.service_one img:hover{
    border-radius: 0% 0% 0% 0% ;

}
.chat{
    display:flex ;
    justify-content: center;
    margin-right: 10%;
    
}
.service_one_list {
    list-style-type: none;
  
} .service_one_list {
    list-style-type: none;
    margin-bottom: 1rem;
    text-align: center;

}

.service_one_list li{
    margin-bottom: 1rem;
    display: flex;
    justify-content: baseline;

    

}
.service_one_list i{
    margin-right: 0.5rem;
} */









